# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [157]:
import pandas as pd
import numpy as np
import re

#### Import data set.

Import data set `Pokemon` from [kaggle](https://www.kaggle.com/abcsds/pokemon/) . Read the data into a dataframe called `pokemon`.

In [158]:
pokemon = pd.read_csv('Pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [159]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [160]:
# your code here
pokemon.pivot_table(index=['Type 1','Type 2'], aggfunc = 'count')
print(pokemon['Type 1'].unique())
print(pokemon['Type 2'].unique())

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']
['Poison' nan 'Flying' 'Dragon' 'Ground' 'Fairy' 'Grass' 'Fighting'
 'Psychic' 'Steel' 'Ice' 'Rock' 'Dark' 'Water' 'Electric' 'Fire' 'Ghost'
 'Bug' 'Normal']

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [161]:
# your code here
# a = pokemon[pokemon['Name'].str.contains('Mega',case = True)]

pokemon['Name'] = pokemon['Name'].replace(r'^([A-Za-z]+)Mega\s+', 'Mega ', regex=True) 

pokemon.head(10)

# 'Mega'+'CharizardMega Charizard X'.split('Mega')[1]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [162]:
# your code here
A = pokemon['Attack']
D = pokemon['Defense']
C = A/D
pokemon['A/D Ratio'] = C

#### Identify the pokemon with the highest `A/D Ratio`.

In [163]:
# your code here
b = pokemon['A/D Ratio'].max()
a = pokemon['Name'][b == pokemon['A/D Ratio']]
print(a,b)

429    DeoxysAttack Forme
Name: Name, dtype: object 9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [164]:
# your code here
b = pokemon['A/D Ratio'].min()
a = pokemon['Name'][b == pokemon['A/D Ratio']]
print(a,b)

230    Shuckle
Name: Name, dtype: object 0.043478260869565216

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [165]:
# your code here
pokemon['Combo Type'] = pd.DataFrame(np.where(pokemon['Type 2'].notna(), pokemon['Type 1'] + '-' + pokemon['Type 2'], pokemon['Type 1']))

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [166]:
# your code here
top5 = pokemon.nlargest(5,'A/D Ratio')['Name']
print(top5)

429    DeoxysAttack Forme
347              Carvanha
19          Mega Beedrill
453              Cranidos
348              Sharpedo
Name: Name, dtype: object

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [183]:
# your code here
list_top5 = list(pokemon.sort_values('A/D Ratio',ascending = False).drop_duplicates('Combo Type').head(5)['Combo Type'])
print(list_top5)

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock', 'Steel-Ghost']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [184]:
# your code here
pokemon[pokemon['Combo Type'].isin(list_top5)].pivot_table( index='Combo Type', aggfunc = 'mean').T

Combo Type  Bug-Poison     Psychic        Rock  Steel-Ghost  Water-Dark
#           199.166667  381.973684  410.111111   680.250000  347.666667
A/D Ratio     1.315989    1.164196    1.260091     1.216667    2.291949
Attack       68.333333   64.947368  103.333333    97.500000  120.000000
Defense      58.083333   67.236842  107.222222   112.500000   65.166667
Generation    2.333333    3.342105    3.888889     6.000000    3.166667
HP           53.750000   72.552632   67.111111    56.000000   69.166667
Legendary     0.000000    0.236842    0.111111     0.000000    0.000000
Sp. Atk      42.500000   98.552632   40.555556    70.000000   88.833333
Sp. Def      59.333333   82.394737   58.333333    71.500000   63.500000
Speed        65.916667   78.868421   32.888889    45.750000   87.166667
Total       347.916667  464.552632  409.444444   453.250000  493.833333

In [187]:
pokemon.to_csv('pokemon2.csv')